@{
    ViewData["Title"] = "TP 11 e 12 do AT";
}

<div class="text-center">
    <h1 class="display-4">TP 11 e 12 do AT</h1>
    <div class="text-left">
        <p>11. Crie uma aplicação ASP.NET Core que utilize Scaffolding para gerar páginas CRUD para uma entidade Cliente. </p>
        <p>12. Implemente um sistema de autenticação simples em uma aplicação ASP.NET Core que restrinja o acesso às páginas de manipulação de dados a usuários autenticados.</p>
    </div>
</div>
